<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>HTTP测试</title>
  <link rel="shortcut icon" href="/static/bilibili.jpg" />
  <style>
    a {
      color:#0000ff;
    }
  </style>
</head>

<body>
  <div class='mp'>

    <h2>测试点</h2>

    <ul>
      <li><a target="_blank" href="{{ url_for('core.view_main_page') }}"><code>/</code></a> 当前页</li>
      <li><a target="_blank" href="{{ url_for('core.view_origin') }}"><code>/ip</code></a> 返回请求IP</li>
      <li><a target="_blank" href="{{ url_for('core.view_uuid') }}"><code>/uuid</code></a> 返回 UUID4</li>
      <li><a target="_blank" href="{{ url_for('core.view_user_agent') }}"><code>/user-agent</code></a> 返回 user-agent</li>
      <li><a target="_blank" href="{{ url_for('core.view_headers') }}"><code>/headers</code></a> 返回 header 字典</li>
      <li><a target="_blank" href="{{ url_for('core.view_get') }}"><code>/get</code></a> 返回 GET 数据</li>
      <li><code>/post</code> 返回 POST 数据</li>
      <li><code>/patch</code> 返回 PATCH 数据</li>
      <li><code>/put</code> 返回 PUT 数据</li>
      <li><code>/delete</code> 返回 DELETE 数据</li>
      <li><a target="_blank" href="{{ url_for('core.view_anything') }}"><code>/anything</code></a> 返回请求数据，包括请求类型</li>
      <li><code>/anything/:anything</code> 返回请求数据，包括请求URL</li>
      <li><a target="_blank" href="{{ url_for('core.view_status_code', codes='418') }}"><code>/status/:code</code></a> 返回给定的HTTP状态码</li>
      <li><a target="_blank" href="{{ url_for('core.response_headers', **{'Content-Type': 'text/plain; charset=UTF-8', 'Server': 'http_test'}) }}"><code>/response-headers?key=val</code></a> 返回给定的响应头</li>
      <li><a target="_blank" href="{{ url_for('core.redirect_n_times', n=6) }}"><code>/redirect/:n</code></a> 302 重定向 <em>n</em> 次</li>
      <li><a target="_blank" href="{{ url_for('core.redirect_to', url='http://example.com/') }}"><code>/redirect-to?url=foo</code></a> 302 重定向至 <em>foo</em> URL</li>
      <li><a target="_blank" href="{{ url_for('core.redirect_to', url='http://example.com/', status_code=307) }}"><code>/redirect-to?url=foo&status_code=307</code></a> 307 重定向至 <em>foo</em> URL</li>
      <li><a target="_blank" href="{{ url_for('core.relative_redirect_n_times', n=6) }}"><code>/relative-redirect/:n</code></a> 302 相对重定向 <em>n</em> 次</li>
      <li><a target="_blank" href="{{ url_for('core.absolute_redirect_n_times', n=6) }}"><code>/absolute-redirect/:n</code></a> 302 绝对重定向 <em>n</em> 次</li>
      <li><a target="_blank" href="{{ url_for('core.view_cookies') }}"><code>/cookies</code></a> 返回 Cookie 数据</li>
      <li><a target="_blank" href="{{ url_for('core.set_cookies', k1='v1', k2='v2') }}"><code>/cookies/set?name=value</code></a> 设置一个或多个简单的 Cookie</li>
      <li><a target="_blank" href="{{ url_for('core.delete_cookies', k1='', k2='') }}"><code>/cookies/delete?name</code></a> 删除由查询字符串提供的 Cookie</li>
      <li><a target="_blank" href="{{ url_for('core.stream_n_messages', n=20) }}"><code>/stream/:n</code></a> 流 <em>min(n, 100)</em> 行</li>
      <li><a target="_blank" href="{{ url_for('core.delay_response', delay=3) }}"><code>/delay/:n</code></a> 延迟响应 <em>min(n, 10)</em> 秒</li>
      <li><a target="_blank" href="{{ url_for('core.view_html_page') }}"><code>/html</code></a> 显示一个HTML页面.</li>
      <li><a target="_blank" href="{{ url_for('core.view_robots_page') }}"><code>/robots.txt</code></a> 返回 robots.txt 规则</li>
      <li><a target="_blank" href="{{ url_for('core.view_deny_page') }}"><code>/deny</code></a> robots.txt 中禁止访问的页面.</li>
      <li><a target="_blank" href="{{ url_for('core.encode_base64', value='http_test') }}"><code>/encode_base64/:value</code></a> base64加密</li>
      <li><a target="_blank" href="{{ url_for('core.decode_base64', value='aHR0cF90ZXN0') }}"><code>/decode_base64/:value</code></a> base64解码</li>
    </ul>
  </div>
</body>

</html>